
<footer>
  <h5 class="h5footer">Copyright © 2021, QuizCode! All Rights Reserved.</h5>
  <img class="imgFooter"src="img/instragram.png" alt="instragram">
  <h6 class="h6footer">@quizcode</h6>
</footer>