<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizCode</title>
  </head>
  <body id="top">
    <header>
      <div class="container">
        <nav>
            <a class="nav" href="#top">
                <img src=".../img/config.png" alt="config" />
              </a>
        </nav>
      </div>
    </header>
  </body>
</html>
