    <main>
    <header>
        <nav>
          <title>QuizCode</title>
            <a class="nav" href="#top">
                <img src=".../img/config.png" alt="config" />
              </a>
        </nav>
    </header>
  </main>
