<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizCode</title>

    <!-- CSS Botstrap -->
   
</head>
<body id="top">

<header>
        <h5 class="h5header">QUIZCODE</h5>
        <div class="menu">
        <img class="menuimg" src="img/config.png" alt="config" />
        </div>
</header>

</body>
</html>
