     <header>
        <nav>
          <p>QUIZCODE</p>
            <a class="nav" href="#top">
                <img class="menu" src="img/config.png" alt="config" />
              </a>
        </nav>
    </header>