<%- include ('partials/head') %>

    <body>

        <%- include ('partials/header') %>s

            <main>

            </main>

            <%- include ('partials/footer') %>
    </body>

    </html>