.alterarperfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 550px;
    background-color: #4776E6;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.alterarperfilimg{
    display: flex;
    width: 130px;
    height: 130px;
}

.botoes{
    background: linear-gradient(45deg, #4776E6, #8E54E9);
    color: white;
    display: flex;
    width: 360px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
}

.conteudo{
    margin-left: 465px;    
}

.h5{
    color: linear-gradient(45deg, #4776E6, #8E54E9);
    display: flex;
    justify-content: center;
    font-size: 30px;
}