#Batiman {
    position: absolute;
    width: 145px;
    height: 149px;
    left: 57px;
    top: 186px
}

#Avatar {
    position: absolute;
    width: 145px;
    height: 149px;
    left: 225px;
    top: 186px
}

#Trump {
    position: absolute;
    width: 145px;
    height: 149px;
    left: 57px;
    top: 358px;
}

#Cr7 {
    position: absolute;
    width: 145px;
    height: 149px;
    left: 225px;
    top: 358px;
}

#Palhaco {
    position: absolute;
    width: 154px;
    height: 157px;
    left: 42px;
    top: 513px;
}

#Joker {
    position: absolute;
    width: 154px;
    height: 157px;
    left: 227px;
    top: 507px;
}

#Obama {
    position: absolute;
    width: 153px;
    height: 157px;
    left: 48px;
    top: 689px;
}

#Charles {
    position: absolute;
    width: 154px;
    height: 157px;
    left: 227px;
    top: 689px;
}

#Seta {
    position: absolute;
    left: 5.14%;
    right: 90.19%;
    top: 84.99%;
    bottom: 11.77%;
    border: 2px solid #8E2DE2;
}