#Batiman {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 308px;
    top: 324px;
}

#Avatar {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 520px;
    top: 324px;
}

#Trump {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 308px;
    top: 525px;
}

#Cr7 {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 520px;
    top: 525px;
}

#Palhaco {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 732px;
    top: 330px;
}

#Joker {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 950px;
    top: 324px;
}

#Obama {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 738px;
    top: 525px;
}

#Charles {
    position: absolute;
    width: 182px;
    height: 174px;
    left: 950px;
    top: 525px;
}

#Seta {
    position: absolute;
    left: 3.12%;
    right: 95.49%;
    top: 84.38%;
    bottom: 12.7%;
    border: 2px solid #8E2DE2;
}