img {
    position: absolute;
    width: 350px;
    height: 342px;
    left: 545px;
    top: 170px;
    border-radius: 18px;
}

h3 {
    position: absolute;
    left: 31.11%;
    right: 31.11%;
    top: 52.15%;
    bottom: 42.19%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #4A00E0;
}

button {
    background: linear-gradient(90deg, #8E54E9 0%, #4776E6 100%);
    background-blend-mode: darken;
    border-radius: 10px;
}

#A {
    position: absolute;
    left: 23.47%;
    right: 51.53%;
    top: 64.06%;
    bottom: 28.12%;
}

#B {
    position: absolute;
    left: 23.47%;
    right: 51.53%;
    top: 77.64%;
    bottom: 14.55%;
}

#C {
    position: absolute;
    left: 51.6%;
    right: 23.4%;
    top: 64.06%;
    bottom: 28.12%;
}

#D {
    position: absolute;
    left: 51.6%;
    right: 23.4%;
    top: 77.64%;
    bottom: 14.55%;
}