#Diamante {
    position: absolute;
    width: 215px;
    height: 200px;
    left: 612px;
    top: 171px;
}

#Podium {
    position: absolute;
    width: 866px;
    height: 443px;
    left: 287px;
    top: 491px;
}

#Seta {
    position: absolute;
    left: 3.12%;
    right: 95.49%;
    top: 84.38%;
    bottom: 12.7%;
    border: 2px solid #8E2DE2;
}