#Diamante {
    position: absolute;
    width: 150px;
    height: 130px;
    left: 139px;
    top: 266px
}

#Podium {
    position: absolute;
    width: 442px;
    height: 226px;
    left: -7px;
    top: 484px;
}

#Seta {
    position: absolute;
    left: 10.05%;
    right: 85.28%;
    top: 85.31%;
    bottom: 11.45%;
    border: 2px solid #8E2DE2;
}