<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUIZ CODE</title>
  </head>

  <body>
    <%- include ('../partials/header') %>

    <main>
      <h3>ALTERAR TEMA</h3>

      <button class="botoes">DARK</button>
      <button class="botoes">LIGTH</button>
      <button class="botoes">WINTER</button>
      <button class="botoes">DRÁCULA</button>
      <button class="botoes2">CONCLUÍDO</button>
    </main>

    <%- include ('../partials/footer') %>
  </body>
</html>
