<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ CODE</title>
</head>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <h3>ALTERAR TEMA</h3>

                <button class="botoes"><h4>DARK</h4></button>
                <br><br>
                <button class="botoes"><h4>LIGTH</h4></button>
                <br><br>
                <button class="botoes"><h4>WINTER</h4></button>
                <br><br>
                <button class="botoes"><h4>DRÁCULA</h4></button>
                <br><br>
                <button class="botoes2"><h4>CONCLUÍDO</h4></button>
            </main>

            <%- include ('../partials/footer') %>
    </body>

    </html>