<%- include ('partials/head') %>

    <body>

        <%- include ('partials/header') %>

            <main>
                <h6>A</h6>
            </main>

            <%- include ('partials/footer') %>
    </body>

    </html>