<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <%- include ('../partials/header') %>

    <main>
      <h6>Altera senha</h6>

      <div class="input-field">
        <input
          type="number"
          name="number"
          id="number"
          placeholder="Numero de pergunta (até 12)"
        />
        <div class="underline"></div>
      </div>

      <div class="input-field">
        <input
          type="number"
          name="number"
          id="number"
          placeholder="Numero de jogadores (até 8)"
        />
        <div class="underline"></div>
      </div>

      <div class="input-field">
        <input
          type="time"
          name="time"
          id="time"
          placeholder="Tempo (até 30 seg)"
        />
        <div class="underline"></div>
      </div>

      <a href=" Gerar codigo"></a>
      <input type="submit" value="Criar sala" />
    </main>

    <%- include ('../partials/footer') %>
  </body>
</html>
