<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <title>Document</title>
</head>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <h3>INICIO</h3>

                <button class="botoes"><h4>JOGAR</h4></button>
                <br>
                <button class="botoes"><h4>CRIAR SALA</h4></button>
                <br>
                <button class="botoes"><h4>RANKING</h4></button>
                <br>
                <button class="botoes"><h4>LOJA</h4></button>
                <br>
                <h5>ENTRAR COM O CÓDIGO</h5>
            </main>

            <%- include ('../partials/footer') %>
    </body>

    </html>