<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <title>Document</title>
</head>

    <body>

        <%- include ('../partials/header') %>

            <>
                <h3>INICIO</h3>
                <img class="icon-perfil" src="" alt="">
                <span class="name-user"></span>
                <div class="underline"></div>
                <button class="botoes">JOGAR</button>
                <br>
                <button class="botoes">CRIAR SALA</button>
                <br>
                <button class="botoes">RANKING</button>
                <br>
                <button class="botoes">LOJA</button>
                <br>
                <h3>ENTRAR COM O CÓDIGO</h3>
            </main>

            <%- include ('../partials/footer') %>
    </body>

    </html>