<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Login</title>
</head>

<body>
    <main class="container">
    <h6>Login</h6>
    <form action="">
        <div class="input-field">
            <input type="email" name="email" id="email"
                placeholder="Insira seu email">
            <div class="underline"></div>
        </div>
</main>

</body>
</html>