<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/loja.css">
    <title>Loja</title>
</head>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <h2>Loja</h2>
                <button></button>
                
                <img id="Batiman" src="img/Batiman.jpeg" alt="Batiman">
                <img id="Avatar" src="img/Avatar.jpeg" alt="Avatar">
                <img id="Trump" src="img/Trump.jpeg" alt="Trump">
                <img id="Cr7" src="img/Cr7.jpeg" alt="Cr7">
                <img id="Palhaco" src="img/Palhaco.jpeg" alt="Palhaco">
                <img id="Joker" src="img/Joker.jpeg" alt="Joker">
                <img id="Obama" src="img/Obama.jpeg" alt="Obama">
                <img id="Charles" src="img/Charles.jpeg" alt="Charles">
                <img id="Seta" src="" alt="">
            </main> 

            <%- include ('../partials/footer') %>
    </body>

    </html>