<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/loja.css">
    <title>Loja</title>
</head>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <h2>Loja</h2>
                <button></button>
                
                <img id="Batiman" src="" alt="">
                <img id="Avatar" src="" alt="">
                <img id="Trump" src="" alt="">
                <img id="Cr7" src="" alt="">
                <img id="Palhaco" src="" alt="">
                <img id="Joker" src="" alt="">
                <img id="Obama" src="" alt="">
                <img id="Charles" src="" alt="">
                <img id="Seta" src="" alt="">
            </main> 

            <%- include ('../partials/footer') %>
    </body>

    </html>