<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <img class="" src="" alt="">
                
                <h3>Oque um "console.log" faz?</h3>

                <button>A - Imprime algo</button>
                <button>B - Exclui algo</button>
                <button>C - Cria uma variável</button>
                <button>D - Não faz nada</button>
            </main>

            <%- include ('../partials/footer') %>
    </body>

    </html>