<%- include ('partials/head') %>

    <body>

        <%- include ('partials/header') %>

            <main>
                <img class="" src="" alt="">
                
                <h3>Oque um "console.log" faz?</h3>

                <button>A - Imprime algo</button>
                <button>B - Exclui algo</button>
                <button>C - Cria uma variável</button>
                <button>D - Não faz nada</button>
            </main>

            <%- include ('partials/footer') %>
    </body>

    </html>