<%- include ('partials/head') %>

    <body>

        <%- include ('partials/header') %>

            <main>
                <button></button>

                <img class="" src="" alt="">
                <img class="" src="" alt="">
            </main>

            <%- include ('partials/footer') %>
    </body>

    </html>